.card {
  background: white;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 12px;
  margin-top: 100px;
  height: 250px;
  cursor: pointer;
  transform: scale(1);
  transition: transform .3s ease;

  &:hover {
    box-shadow: 5px 2px 30px -6px rgba(0, 0, 0, 0.77);
    transform: scale(1.048);
  }

  .profile-image {
    width: 65%;
    margin: 0 auto;
    display: block;
    margin-top: -80px;
  }

  >.name {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
  }

  .title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 11px;
  }

  .skills {
    margin-top: 10px;
  }

  .actions {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;

    button {
      border: 0;
      background: none;
      box-shadow: none;
      border-radius: 0px;
      font-size: 13px;
      padding: 5px 0px;
      cursor: pointer;
      color: white;
      width: 50%;

      &:first-child {
        border-bottom-left-radius: 10px;
      }

      &:last-child {
        border-bottom-right-radius: 10px;
      }
    }

    .detail {
      background-color: #52b3d9;
    }

    .select {
      background-color: #4daf7c;
    }
  }


}
