.card {
  background: white;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 12px;
  margin-top: 65px;
  margin-bottom: 40px;
  cursor: pointer;
  position: relative;
  transform: scale(1);
  transition: transform .3s ease;

  &:hover {
    box-shadow: 5px 2px 30px -6px rgba(0, 0, 0, 0.77);
    transform: scale(1.048);
  }

  .profile-image {
    width: 120px;
    margin: 0 auto;
    display: block;
    margin-top: -75px;
  }

  >.name {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .seniority {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
  }

  .title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 11px;
  }

  .skills {
    margin-top: 10px;

    .skill {
      display: flex;

      .score {
        margin-left: auto;
      }
    }

    p {
      margin: 0;
    }
  }
}
