.navbar {
  width: 100%;
  min-height: 75px;
  background: linear-gradient(90deg, rgba(236, 25, 102, 0.8) 5%, #532d8c);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px;
  margin: 0px;

  &>div {
    padding: 0 15px;

    input {
      max-width: 100%;
      border: 0;
      padding: 10px;
      border-radius: 3px;
    }

    button {
      background: white;
      border: 0;
      padding: 10px;
      border-radius: 3px;
      cursor: pointer;
    }
  }

}

.list {
  margin: 120px auto 0 auto;

  .group {
    justify-content: center;
    margin-top: 20px;

    .title {
      margin: 0 0 20px 0;
    }
  }
}
